<h1>Nouvelle association sur Colab !</h1>

<p>
    Une nouvelle association vient de s'inscrire sur Colab, c'est {{ assoName }}. <br/>
    Elle attend la validation d'un administrateur.<br/>
    Vous pouvez accéder à sa fiche en cliquant <a href="{{ confirmationUrl }}">ICI</a>. <br/>
    <em>Si le lien ne fonctionne pas, copiez-collez le lien suivant : {{ confirmationUrl }}</em>
    <br/>
    <br/>
    Merci
</p>