<h1>Formulaire de contact Colab : </h1>

<p>
    Le formulaire de contact Colab vient d'être complété, voici les infos :<br/>
    email : {{ fromEmail }}<br/>
    Sujet : {{ subject }}<br/>
    Message : {{ message }}<br/>

    <br/>
    Merci
</p>